<div style="margin-top: 2rem;">
  <app-location-input [htmlId]="'originInput'" [placeholderText]="''"></app-location-input>

  <div class="lead text-muted stylized-label">to</div>

  <app-location-input [htmlId]="'destinationInput'" [placeholderText]="''"></app-location-input>
</div>


  <!--&lt;!&ndash; Line break when smaller than md &ndash;&gt;-->
  <!--<div class="w-100 hidden-md-up"></div>-->

  <!--<div class="col lead">-->
    <!--<app-location-input [htmlId]="'originInput'" [placeholderText]="'Start'"></app-location-input>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row no-gutters">-->
  <!--<div class="col-4 stylized-label lead text-muted">-->
    <!--to-->
  <!--</div>-->

  <!--&lt;!&ndash; Line break when smaller than md &ndash;&gt;-->
  <!--<div class="w-100 hidden-md-up"></div>-->

  <!--<div class="col lead">-->
    <!--<app-location-input [htmlId]="'destinationInput'" [placeholderText]="'Destination'"></app-location-input>-->
  <!--</div>-->
<!--</div>-->
