<!-- Upper part of the website -->
<div id="title-container" class="container">
  <h1 id="page-title">When Should I Leave?</h1>
  <p id="subtitle" class="lead text-muted">Avoid spending your life in traffic. Get notified once your
  <br class="w-100 hidden-sm-down" />
    travel time is <span id="stylized-less">less than</span></p>
  <app-time-entry></app-time-entry>
</div>

<!-- Lower (map) part of the website -->
<div class="container-fluid map-container">
  <app-bing-map></app-bing-map>
</div>

