#title-container {
  padding-top: 2.1rem;
  max-width: 40rem;
  text-align: center;
}

#page-title {
  font-weight: 300;
}

#stylized-less {
  font-size: 2.1rem;
  font-family: Brush Script Std, Brush Script MT, cursive; /* TODO use google web fonts?*/
  margin-left: 0.4rem;
}
