.label-hours, .label-minutes {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: 300;
}

.label-minutes {
  text-align: left;
}

.input-hours, .input-minutes {
  width: 4.5rem;
  font-size: 2.5rem;
  border: medium none;
  border-bottom: 0.2rem solid;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-align: center;
}

.input-col {
  text-align: right;
}

.label-col {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .label-minutes, .input-minutes {
    padding-top: 1rem;
  }
}
