.location-input {
  text-align: center;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  background-color: #fcfcfc;
}
